:root {
	--backround-color-accent: hsl(0, 0%, 3%);
	--background-color-main: hsl(0, 0%, 12%);
	--background-color-alt: hsl(0, 0%, 18%);
	--background-color-hover: hsl(0, 0%, 60%);
	--text-color-main: hsl(0, 0%, 94%);
	--accent-dim: #005a3c;
	--accent-main: #00865a;
	--accent-highlight: #00a870;
	--accent-bright: #00b97b;

	font-family: Barlow;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--text-color-main);
	background-color: var(--background-color-main);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: Barlow;
	src: url("assets/Barlow/Barlow-Regular.ttf");
}
body {
	margin: 0px;
}
label {
	cursor: auto;
}
#app {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}
button {
	all: unset;
	cursor: pointer;
}
.coloredButton {
	background: var(--accent-main);
	padding: 0.25em 1em;
	border-radius: 5px;
	font-size: large;
}
.coloredButton:hover {
	background: var(--accent-highlight);
}
.coloredButton:active {
	background: var(--accent-bright);
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color-main: hsl(0, 0%, 20%);
		--backround-color-accent: hsl(0, 0%, 84%);
		--background-color-main: hsl(0, 0%, 100%);
		--background-color-alt: hsl(0, 0%, 91%);
		--background-color-hover: hsl(0, 0%, 56%);
	}
	a:hover {
		color: #747bff;
	}
}
